{% extends 'base.html.twig' %}

{% block title %}{{ title|default('Créer/Éditer un événement') }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>{{ header|default('Créer/Éditer un événement') }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-7">
                    <h5>Informations principales</h5>
                    {{ form_row(form.titre) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.image_path) }}
                </div>
                <div class="col-md-5">
                    <h5>Paramètres</h5>
                    {{ form_row(form.date_debut) }}
                    {{ form_row(form.date_fin) }}
                    {{ form_row(form.places) }}
                </div>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary">Enregistrer</button>
                <a href="{{ path('eventslist')}}" class="btn btn-outline-secondary ms-2">Retour à la liste</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
